<div class="headSession" id="navbar">
  <div class="nameTitle">
    <h1 style="position: absolute;font-style: oblique;font-size: 35px;left: 8%;color:white; transition: width 2s, height 2s, transform 2s;">`$hiva Kumar $wamy`</h1>
    <div>
      <div class="solicalIcons">
        <a href="https://www.facebook.com/"><span class="fb">  <i class="fa fa-facebook" ></i></span></a>
        <a href="https://in.linkedin.com/"><span class="linkedin"><i class="fa fa-linkedin" ></i></span></a>
        
     
      </div>
    </div>