.headSession{
    height: 80px;
    background-color: #4abdac;
    position: -webkit-sticky;
    position: fixed;
    
    z-index: 9999;
    opacity: .8;
    box-shadow: 0px 2px 5px 1px;
    width: 80%;
    top:0px;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s; 
     transition: width 2s, height 2s, transform 2s;
  
}
.solicalIcons .fb{
  position: absolute;
    right: 6.5%;
    top: 25%;
    font-size: 24px;
    color: white;
    cursor: pointer;
    background-color: black;
    border-radius: 100%;
    width: 34px;
    height: 33px;
    text-align: center;
}
.solicalIcons .linkedin{
  
    position: absolute;
    right: 4%;
    top: 25%;
    font-size:24px;
     color: white;
    cursor: pointer;
    background-color: black;
    border-radius: 100%;
    width: 34px;
    height: 33px;
    text-align: center;
}

h1:hover{
-webkit-transform: rotate(360deg); 
  transform: rotate(360deg);
  
}

.fb i:hover{
-webkit-transform: rotate(360deg); 
  transform: rotate(360deg);
  transition:0.9s;
}
.linkedin i:hover{
-webkit-transform: rotate(360deg); 
  transform: rotate(360deg);
  transition:0.9s;
}



/**********/
#navbar {
  transition: top 0.8s;
}



@media (min-width: 320px) and (max-width: 480px) {

.solicalIcons{
  display: none;
}

.nameTitle h1{
    font-size: 30px !important;
    left: 8%!important;
}
}