.banner img{
    width: 100%;
    height: 100vh;
}

.brideGroomContainer{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-evenly;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

}

.bride img, .groom img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
        margin-top: 6%;
        border: 5px solid;
}

.bride, .groom{
    width: 50%;
    text-align: center;
    color:white;
    font-size: x-large;
    font-family: inherit;
    padding: 30px;

}

/*our story*/
.page-margins {
    padding: 100px 100px;
    font-size: x-large;
    font-family: monospace;
    border-bottom: 5px solid;

}
.centered-text {
    text-align: center;
}
span {
    border: 0;
    border-top: 1px solid #D65679;
    display: inline-block;
    margin: 5px 10px;
    width: 40px;
}
.fa-heart {
    color: #D65679;
    margin: 20px 0 40px;
}

#our-story .story-content {
    position: relative;
    padding-bottom: 40px;
    /*background-image: url('../images/line.png');*/
    background-repeat: repeat-y;
    background-position: center;
}

#our-story .story-icon {
    width: 70px;
    border-radius: 50px;
    background-color: #D65679;
    padding: 10px;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

#our-story .story-right {
    text-align: right;
    right: 50%;
    margin-right: 70px;
}
#our-story .story-right, #our-story .story-left {
    position: absolute;
    margin-top: -55px;
}
.centered-text {
    text-align: center;
}

#our-story .story-left {
    text-align: left;
    left: 50%;
    margin-left: 70px;
}

#our-story .story-right, #our-story .story-left {
    position: absolute;
    margin-top: -65px;
}

/*Gallary*/
 .photoGallary{
     display: flex;
    justify-content:space-evenly;;
    flex-wrap: wrap;
 }
 .bDadContainer img, .bMomContainer img, .bBroContainer img, .gDadContainer img, .gMomContainer img, .gSisContainer img{
     width: 278px;
     height: 300px;
     cursor: pointer;
      margin-right: 40px;
 }

 .content span{
    width: 87.5%;
    background-color: black;
    color: white;
    text-align: center;
    border-top: unset;
    margin: 0px;
 }
 .OurFamily{
     padding: 50px;
 }

 .photoGallary  img:hover{
    opacity: 0.5;
    border: 1px dotted orangered; 
       transition: 0.3s;
}

.countDownTimer{
    width: 50%;
    margin-left: 25%;
    padding: 50px;
}


/*imgswing*/
.swing {
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    float:left;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.swing img {
    border: 5px solid #f8f8f8;
    display: block;
}
.swing:after{
    content: '';
    position: absolute;  
    width: 20px; height: 20px;  
    border: 1px solid #999;
    top: -10px; left: 50%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}
/* nail */
.swing:before{
    content: '';
    position: absolute;
    width: 5px; height: 5px;
    top: -14px;left: 51%;
    z-index: 5;
    border-radius: 50% 50%;
    background: #000;
}
 
@keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}

/*fallaryimghover*/

img.top:hover {
  opacity:0;
}




@media (min-width: 320px) and (max-width: 480px) {
.brideGroomContainer{
flex-wrap: wrap;
     height: auto; 
}
.bride, .groom{
    width: 100%;
}
.page-margins{
    padding: 20px 16px;
    font-size: medium;
    }
    .OurFamily{
    padding: 15px;
}

.bDadContainer img, .bMomContainer img, .bBroContainer img, .gDadContainer img, .gMomContainer img, .gSisContainer img {
    width: 100%;
    margin-right: 0px; 
}
.content span{
    width: 100%;
}

.bride img, .groom img{
    width: 100%;
}

.GImgContainer img{
     position: relative !important; 
     right: 0px!important;  
    margin-bottom: 10px;
    height: auto!important;
    width: 100%!important;
     transform: none!important;
     transition: none!important;
}
.gImg img{
    transform:none!important;
    width: 100%;
    margin-bottom: 20px;
}
.swing{
         position: relative!important;
          left: 0!important; 
}
.swing img{
         width: 100%;
}
.GWall{
    height: 150vh!important;
}
.countDownTimer[_ngcontent-c1] {
    width: 100%;
     margin-left: 0px !important; 
     padding: 30px!important; 
}
.footer{
        padding: 30px!important;
            height: 500px!important;
}
/*.footer img{
    width: 100%!important;
}*/
}