<div class="weddingMainContainer">
  <section class="banner">
    <img src="./assets/images/wedding.jpg" alt="weedingImg" />
  </section>
  <img src="./assets/images/down.gif" alt="scrollDown" style="position: absolute;left: 50%; bottom: 5%;">
  <section class="header1 cid-qwTXGaUGDn" id="header1-b" data-rv-view="1057" style=" padding-top: 90px;padding-bottom: 90px;background-color: #ffffff;text-align: center;">
    <div class="container" style="position: relative; word-wrap: break-word;">
      <div class="row justify-content-md-center">
        <div class="mbr-white col-md-12">
          <!--<h2 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1" >You're invited</h2>-->
          <div class="invitation" style="text-align: center;border: 0;">
            <h1 style=" font-family: fantasy;font-size: 4.25rem;">You're invited</h1>
            <span></span><i class="fa fa-heart"></i><span></span><br>
          </div>

          <h3 class="mbr-text align-center pb-3 mbr-fonts-style display-7"> Please join Us. </h3>
        </div>
      </div>
    </div>
  </section>

  <section class="brideGroomContainer" style="background-image: url('./assets/images/bgimg.jpg')">
    <div class="bride">
      <img src="./assets/images/bride.jpg" alt="brideImg" />
      <h1>Samantha</h1>
      <p> Software Engineer currently settled in Bengaluru. Busy in shopping and preparing for the wedding since the past few
        days. </p>
    </div>
    <div class="groom">
      <img src="./assets/images/groom.jpg" alt="brideImg" />
      <h1>Nagachetan</h1>
      <p> Software Engineer currently settled in Bengaluru. Well I am tired with the bride's shopping and wedding preparation.
      </p>
    </div>
  </section>
  <!--Our Story section-->
  <div id="our-story" class="page-margins">
    <div class="centered-text">
      <h2>Our Story</h2>
      <span></span><i class="fa fa-heart"></i><span></span><br>
      <div class="centered-text story-content" style="background-image: url('./assets/images/line1.png')">
        <img class="story-icon" src="./assets/images/engineering.png" alt="">
        <div class="story-right">
          July 2012,<br> Admitted in the same engineering college
        </div>
      </div>
      <div class="centered-text story-content" style="background-image: url('./assets/images/line1.png')">
        <img class="story-icon" src="./assets/images/friends.png" alt="">
        <div class="story-left">
          Aug 2013,<br> Became friends
        </div>
      </div>
      <div class="centered-text story-content" style="background-image: url('./assets/images/line1.png')">
        <img class="story-icon" src="./assets/images/propose.jpg" alt="">
        <div class="story-right">
          Oct 2013,<br> I told the three words
        </div>
      </div>
      <div class="centered-text story-content" style="background-image: url('./assets/images/line1.png')">
        <img class="story-icon" src="./assets/images/he-she.jpg" alt="">
        <div class="story-left">
          Nov 2013,<br> Finally, patience had paid off
        </div>
      </div>
      <div class="centered-text story-content" style="background-image: url('./assets/images/line1.png')">
        <img class="story-icon" src="./assets/images/she-bangalore.png" alt="">
        <div class="story-right">
          Jul 2015,<br> She moved to Bangalore for a job
        </div>
      </div>
      <div class="centered-text story-content" style="background-image: url('./assets/images/line1.png')">
        <img class="story-icon" src="./assets/images/he-bangalore.png" alt="">
        <div class="story-left">
          Sep 2015,<br> Well, I too followed her
        </div>
      </div>
      <div class="centered-text story-content" style="background-image: url('./assets/images/line1.png')">
        <img class="story-icon" src="./assets/images/family.png" alt="">
        <div class="story-right">
          Nov 2018,<br> She told her parents and then I did the same
        </div>
      </div>
      <div class="centered-text story-content" style="background-image: url('./assets/images/line1.png')">
        <img class="story-icon" src="./assets/images/marriage.jpg" alt="">
        <div class="story-left">
          Nov 2019,<br> We are all set to tie the knot
        </div>
      </div>
      <div class="centered-text">
        <div class="continued">Contd...</div>
      </div>
    </div>
  </div>
  <!--Our family-->
  <!--style="padding: 100px 100px;background-image: url('./assets/images/galaryWall.jpg')"-->
  <section class="OurFamily">
    <div style="text-align: center;border: 0;">
      <h1>Our family</h1>
      <span></span><i class="fa fa-heart"></i><span></span><br>
    </div>

    <div class="photoGallary" style="padding: 50px 50px; background-color: black;">
      <div class="bDadContainer">
        <img src="./assets/images/bDad.jpg" alt="bDad" />
        <div class="content">
          <span><b><i>Bride's Father</i></b></span>
        </div>
      </div>
      <div class="bMomContainer">
        <img src="./assets/images/bMom.jpg" alt="bMom" />
        <div class="content">
          <span><b><i>Bride's Mother</i></b></span>
        </div>
      </div>
      <div class="bBroContainer">
        <img src="./assets/images/bBro.jpg" alt="bBro" />
        <div class="content">
          <span><b><i>Bride's Brother</i></b></span>
        </div>
      </div>
      <div class="gDadContainer">
        <img src="./assets/images/gDad.jpg" alt="gDad" />
        <div class="content">
          <span><b><i>Grooms's Father</i></b></span>
        </div>
      </div>
      <div class="gMomContainer">
        <img src="./assets/images/GMom.jpg" alt="gMom" />
        <div class="content">
          <span><b><i>Grooms's Mother</i></b></span>
        </div>
      </div>
      <div class="gSisContainer">
        <img src="./assets/images/gSis.jpg" alt="gSis" />
        <div class="content">
          <span><b><i>Grooms's Sister</i></b></span>
        </div>
      </div>
    </div>
  </section>

  <section class="GWall" style="padding: 50px 50px; color: white;height: 120vh; background-image: url('./assets/images/gwall.jpg')">
    <div style="text-align: center;border: 0;">
      <h1>Photo Gallary</h1>
      <span></span><i class="fa fa-heart"></i><span></span><br>
    </div>
    <div class="GImgMainContainer">
      <div class="GImgContainer"> 
        <img class="bottom" src="./assets/images/g6.jpg" alt="gp" style="border: 5px solid;    box-shadow: 15px 15px 23px black;position: absolute;right: 50px;height: 550px;width: 715px;transform: rotate(9deg);transition: opacity 1s ease-in-out;"
        />
        <img class="top" src="./assets/images/g2img.jpg" alt="gp" style="border: 5px solid;    box-shadow: 15px 15px 23px black;position: absolute;right: 50px;height: 550px;width: 715px;transform: rotate(9deg);transition: opacity 1s ease-in-out;"
        />
      </div>

      <div class="gImg">
        <img src="./assets/images/g1img.jpg" alt="g1" style="border: 5px solid;transform: rotate(-9deg); box-shadow: 15px 15px 23px black;"
        />
      </div>

      <div class="swing" style="position: absolute; left: 30%;    box-shadow: 15px 15px 23px black;">
        <img src="./assets/images/g3.jpeg" width="800">
      </div>

    </div>
  </section>

  <section class="countDownTimerContainer" style="border-bottom: 5px solid;">
    <div class="countDownTimer">
      <div data-type="countdown" data-id="1160697" class="tickcounter" style="width: 100%; position: relative; padding-bottom: 25%;background: linear-gradient(45deg, #8072c3, #ff7f9f)!important;"><a href="//www.tickcounter.com/countdown/1160697/days-left-for-wedding" title="Day&#39;s Left For Wedding">Day&#39;s Left For Wedding</a><a
          href="//www.tickcounter.com/" title="Countdown">Countdown</a>
      </div>
    </div>
  </section>

  <section>
    <div id="important-dates" class="page-margins">
      <div class="centered-text">
        <h1>Important Dates</h1>
        <span></span><i class="fa fa-heart"></i><span></span><br>
      </div>
      <div id="date-venue">
        <!--<div class="description">
          <h5>The Jurun</h5>
          <i>29 OCT 2019<br></i>
          <p>Juroon is a pre-marriage ceremony which is carried out one or two days before the wedding. This is normally an
            ladies affair and men seldom take part in it. The main occasion is that the groom's mother along with her close
            relatives and friends visits the bride's house. Once they reach the bride's house the groom's mother is welcomed
            by the bride's mother at the very entrance of their house. The bride arrives and occupies the center stage. The
            main ritual starts with the groom's mother applying sindoor(vermilion) to the bride's forehead. The bride's mother
            then gifts the bride the main bridal trousseau (Mekhela Chadar), a make-up kit, gold ornaments etc.</p>
          <b>Venue</b><br> Update soon <br><br>
          <a href="https://www.google.co.in/maps/place/26%C2%B010'38.9%22N+91%C2%B048'42.5%22E/@26.1773788,91.8117803,17z/data=!4m2!3m1!1s0x0:0x0"
            class="location" target="_blank" alt="">VIEW ON MAP</a>
            
        </div>-->
        <hr>
        <div class="description">
          <h1>The Wedding</h1>
          <i>2<sup>nd</sup> Nov 2019<br></i>
          <p>The wedding rituals begin with the ceremonial bath of the bride and the groom. After that the groom finally arrives
            at the venue of the marriage where the bride's family indulges in fun activities. Subsequently, the bride's mother
            welcomes him while the bride's sister washes his feet. Next, the brother of the bride lifts him to take him to
            the wedding hall. This is followed by a remarkable entry of the bride on the shoulders of her maternal uncle.
            Here, the wedding ceremony takes place in front of the sacred fire. The couple exchange garlands and takes vows
            amidst chanting mantras. After the wedding ceremony is over the couple moves to groom's house where they are
            welcomed by the bridegroom's mother with traditional aarti.</p>
          <b>Venue</b><br> Bangalore Palace<br><br>
          <a href="https://www.google.com/maps/place/Bangalore+Palace/@12.998766,77.5921071,15z/data=!4m5!3m4!1s0x0:0xb1f8b77e331512cf!8m2!3d12.998766!4d77.5921071"
            class="location" target="_blank" alt="">VIEW ON MAP</a>
        </div>
        <hr>
        <div class="description">
          <h1>The Reception</h1>
          <i>3<sup>rd</sup> Nov 2019<br></i>
          <p>Wedding reception party is virtually the first public appearance of the couple together, after wedding where they
            receive the blessing and gifts from the society and relatives. It is just an extension of the wedding day and
            is characterized by opulence and magnificence. While the Decor of the place makes it looks mesmerizing and majestic,
            lavish cuisine and excellent dishes spice up the entire ambience of the reception party place. It is a way that
            the groom's community welcomes the bride with open arms.</p>
          <b>Venue</b><br> @ Goa, Golden-Orchid Banquet-hall <br><br>
          <a href="https://www.google.com/maps/dir/goa+wedding+reception+places/13.053952,77.6249344/@14.3570692,74.5982951,8z/data=!3m1!4b1!4m9!4m8!1m5!1m1!1s0x3bbfeb1732a5a421:0xb506a5918228a352!2m2!1d73.8130494!2d15.6071801!1m1!4e1"
            class="location" target="_blank" alt="">VIEW ON MAP</a>    
        </div>
      </div>
    </div>
  </section>

  <section class="footer" style="padding: 50px 50px;background-image: url('./assets/images/weddingBanner.jpg');background-repeat: no-repeat;background-size: cover;background-attachment: fixed;    height: 800px;">
    <!--<b><h1><p style="text-align: center;color: white;font-size: larger;">Thanks For Visiting My Site</p></h1></b>
    -->
    <div style="text-align: center;border: 0;color: white;font-size: larger;">
      <h1>Thanks For Visiting My Site</h1>
      <span></span><i class="fa fa-heart"></i><span></span><br>
    </div>

    <b><h1><p style="text-align: center;color: white;font-size: larger;">We Hope To See You Soon!!</p></h1></b>
  </section>

</div>