<article class="gitContainer">
  <section class="formSection">
    <h1>Get In Touch</h1>
 <div class="container">
  <form class="form-horizontal" action="">
     <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Name:</label>
      <div class="col-sm-10">          
        <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Email:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Mobile:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="mob" placeholder="Enter Mob number" name="mob" >
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Comment:</label>
      <div class="col-sm-10">
        <textarea type="text" class="form-control" id="comment" placeholder="Enter comments" name="comment" style="resize: none;"></textarea>
      </div>
    </div>
    
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
    <div class="contactDetails">
      OR
     <sub><small>you can reach out to me directly at shivswami007@gmail.com | +91-8123447770 </small></sub>
    </div>
  </form>
</div>
  </section>

  <section class="gMapSection"> 
      	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7773.464076645589!2d77.62595792440185!3d13.052720963210747!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1760b724ad1f%3A0x1255d85db6b5012f!2sSinthan+Nagar%2C+Bengaluru%2C+Karnataka+560045!5e0!3m2!1sen!2sin!4v1552045212099" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </section>
</article>