.gitContainer{
    display: flex;
    padding: 1em 2em;
        background-color: #fff;
    margin: 1rem 0 3rem 0;
    z-index: 2;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.formSection, .gMapSection{
    width: 50%;
}
.form-control {
    width: 65%;
}
.container{
    margin-top: 55px; 
    width: 100%
    }

.gMapSection iframe{
    width: 100%;
}    

small{
        font-size: 85%;
    font-weight: bold;
}

.contactDetails{
    margin-left: 17%;
}
.gMapSection:hover{
    width: 150%;
   transition: 0.8s;
}




@media (min-width: 320px) and (max-width: 480px) {
.formSection, .gMapSection {
    width: 100%;
        margin-bottom: 10%;

}
.container {
     margin-top: 0px; 
   
}
.form-control {
     width: 100%; 
}
.gitContainer{
    flex-wrap: wrap; 
}
}