<div id="abtmeImg">
  <!--<img src="./assets/images/me.jpg" alt="abtmeImg" />-->
  <div class="contentAbtMe row slideanim ">
    <h1 style="font-style: oblique;">About Me</h1>
    <p  style="line-height: 1.8;  font-size: 22px;"> I am a UI developer from Bangalore, India. I have around <span highlight>3.10 years</span>  of professional experience and currently work at one
      of the most reputed and admired IT services company in the world. I started my career as a developer but soon I realized
      having knowledge in designing makes the life of a Developer lot easier. As a kid I was always interested in drawing
      and sketching and so the learning of designing tools was an added bonus for me. I usually code for fun and try to recreate
      it whenever I come across something interesting. I also do freelancing in web designing/development and sometimes take
      up logo designs.<span highlight> Apart from being a techie, I am a huge fan of food and love travelling</span>.</p>
  </div>
</div>