<section class="mainContainer">
  <h3>Patient Tracking System</h3>
  <form id="updatePatient" name="updatePatient" [formGroup]="updatepatientsForm" (ngSubmit)="updatePatient(updatepatientsForm.value)">
    <div class="form-group">
      <label for="complaints">Complaints</label>
      <textarea type="text" class="form-control" id="complaints" name="complaints" placeholder="Enter Complaints Here" [(ngModel)]="data.complaints"
        formControlName="complaints"></textarea>
    </div>
    <div class="form-group">
      <label for="result">Results</label>
      <textarea type="text" class="form-control" id="result" name="result" placeholder="Enter Results Here" formControlName="result"  [(ngModel)]="data.result"></textarea>
    </div>
    <div class="form-group">
      <label for="prescription">Prescriptions</label>
      <textarea type="text" class="form-control" id="prescription" name="prescription" placeholder="Enter Prescriptions Here" formControlName="prescription" 
       [(ngModel)]="data.prescription"></textarea>
    </div>
    <div class="form-group">
      <label for="fname">First Name</label>
      <input type="text" class="form-control" id="fname" name="fname" placeholder="Enter F-Name" [(ngModel)]="data.fname" formControlName="fname">
    </div>
    <div class="form-group">
      <label for="fname">Last Name</label>
      <input type="text" class="form-control" id="lname" name="lname" placeholder="Enter L-Name" [(ngModel)]="data.lname" formControlName="lname">
    </div>
    <div class="form-group">
      <label for="age">Age</label>
      <input type="text" class="form-control" id="age" name="age" placeholder="Enter Age" [(ngModel)]="data.age" formControlName="age">
    </div>
    <div class="form-group">
      <label for="gender">Gender</label>
      <input type="text" class="form-control" id="gender" name="gender" placeholder="Enter Gender" [(ngModel)]="data.gender" formControlName="gender">
    </div>
    <div class="form-group">
      <label for="gender">Address</label>
      <input type="text" class="form-control" id="address" name="address" placeholder="Enter Address" [(ngModel)]="data.address"
        formControlName="address">
    </div>
    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="text" class="form-control" id="phone" name="phone" placeholder="Enter Mobile Number" [(ngModel)]="data.phone"
        formControlName="phone">
    </div>
    <div class="form-group">
      <label for="consultedBy">Consulted By</label>
      <input type="text" class="form-control" id="consultedBy" name="consultedBy" placeholder="Consulted By" [(ngModel)]="data.consultedBy"
        formControlName="consultedBy">
    </div>

    <input type="submit" class="btn btn-primary" value="Update Patient">
  </form>

</section>
