.mainContainer{
    width: 90%;
    margin: 0 auto;
    margin-top: 2%;
    background-color: #E0E0E0;
    min-height: 500px;
        height: 100%;
}
.container{
    display: flex;
    flex-wrap: wrap;
     width: 100%;
     margin-bottom:10%;
}
.pageTitleContainer{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.patentContainer{
    padding: 30px;
    display: flex;
    width: 45%;
    background-color: white;
   margin: 25px 0 10px 32px;  
 
}
.pateintDetailsContainer{
    display: flex;
    flex-direction: column;
    width: 20%;
    border: 1px solid;
    padding: 10px;
}




/*MediaQ for Mobile */

@media (min-width: 320px) and (max-width: 480px) {
.pageTitleContainer
{
     flex-wrap: wrap;       
}
.patentContainer{
     flex-wrap: wrap; 
     margin:10px;
     width: 100%;
}
.patentContainer div{
    width: 100%!important;
}
}