<div class="mainContainer">
    <div class="pageTitleContainer">
        <div class="pageTitle">
            <h2>Patient Tracking System</h2>
            <span>{{total}} Records Found</span>

        </div>
        <div class="addPatientBtn" style="margin: 40px 45px 0 0;">
            <button type="button" class="btn btn-primary" routerLink="/phome/addpatient" style="margin-right:10px">Add Patient  </button>
            <button type="button" class="btn btn-primary" routerLink="/phome/plist">Patients List  </button>
        </div>
    </div>
    <div *ngIf="!patients" style="margin: 0 auto;width: 200px">
        <p>There are no Records</p>
        <button type="button" class="btn btn-primary" routerLink="/phome/addpatient">Add New Patient  <span class="glyphiconglyphicon-plus"></span></button>
    </div>
    <div class="container">
        <div class="patentContainer" *ngFor="let patient of patients">
            <div style="width: 50%;">
                <table>
                    <tr>
                        <th>Id </th>
                        <td>: {{patient.id}}</td>
                    </tr>
                    <tr>
                        <th>Name </th>
                        <td>: {{patient.fname}} {{patient.lname}}</td>
                    </tr>
                    <tr>
                        <th>Age </th>
                        <td>: {{patient.age}}</td>
                    </tr>
                    <tr>
                        <th>Gender </th>
                        <td>: {{patient.gender}}</td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td>: {{patient.phone}}</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>: {{patient.address}} </td>
                    </tr>
                </table>
            </div>
            <div style="width: 50%;">
                <table>
                    <tr>
                        <th>Consulted By</th>
                        <td>: {{patient.consultedBy}}</td>
                    </tr>
                    <tr>
                        <th>Complaints </th>
                        <td>: {{patient.complaints}} </td>
                    </tr>
                </table>
                <button type="button" class="btn btn-primary" style="float: right;margin-top: 60px;" [routerLink]="['/phome/updatep', patient.id]">Update</button>
            </div>
        </div>
    </div>
    <!--<img src="./assets/imgs/loading.gif" alt="Load Icon" style="width: 200px;position: absolute;top: 30%;left: 44%;" *ngIf="isLoading"/>-->
</div>