<div id="loginContainer">
  <div class="imgcontainer">
    <img src="./assets/images/user.png" alt="Avatar" class="avatar">
  </div>
  <form [formGroup]="form"  [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" formControlName="username" placeholder="Enter shiv as username"> 
      <div *ngIf="form.controls.username.touched && !form.controls.username.valid" class="alert alert-danger">
        Username is required
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" formControlName="password" placeholder="Enter welcome as password">
      <div *ngIf="form.controls.password.touched && form.controls.password.errors">
        <div *ngIf="form.controls.password.errors.required" class="alert alert-danger">
          Password is required.
        </div>
        <div *ngIf="form.controls.password.errors.cannotContainSpace" class="alert alert-danger">
          Password cannot contain space.
        </div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Login</button>
  </form>
</div>