.mainContainer{
    margin: 0 auto;
    width: 60%;
}


@media (min-width: 320px) and (max-width: 480px) {
    .note{
    right: 5px!important;
    width: 70px !important;
    font-size: 14px 
    }

}