<section class="mainContainer">
  <h3>Patient Tracking System</h3>

  <form id="addNewPatient" name="addNewPatient" [formGroup]="addpatientsForm" (ngSubmit)="addPatient(addpatientsForm.value)">
    <div class="form-group">
      <label for="fname">First Name</label>
      <input type="text" class="form-control" id="fname" name="fname" placeholder="Enter F-Name" formControlName="fname">
      <div *ngIf="addpatientsForm.controls['fname'].invalid && (addpatientsForm.controls['fname'].dirty || addpatientsForm.controls['fname'].touched)">
        <div *ngIf="addpatientsForm.controls['fname'].errors.required">
          <span style="color: red;">First Name  is requied.</span>
        </div>
        <div *ngIf="addpatientsForm.controls['fname'].hasError('minlength')">
          <span style="color: red;">First Name requied atleast 3 characters.</span>
        </div>
        <div *ngIf="addpatientsForm.controls['fname'].hasError('maxlength')">
          <span style="color: red;">First Name requied only 24 characters.</span>
        </div>
        <div *ngIf="addpatientsForm.controls['fname'].hasError('pattern')">
          <span style="color: red;">Only characters are allowed.</span>
        </div>
      </div>

    </div>
    <div class="form-group">
      <label for="fname">Last Name</label>
      <input type="text" class="form-control" id="lname" name="lname" placeholder="Enter L-Name" formControlName="lname">
      <div *ngIf="addpatientsForm.controls['lname'].invalid && (addpatientsForm.controls['lname'].dirty || addpatientsForm.controls['lname'].touched) ">
        <div *ngIf="addpatientsForm.controls['lname'].errors.required">
          <span style="color: red;">Last Name  is requied.</span>
        </div>
        <div *ngIf="addpatientsForm.controls['lname'].hasError('minlength')">
          <span style="color: red;">First Name requied atleast 3 characters.</span>
        </div>
        <div *ngIf="addpatientsForm.controls['lname'].hasError('maxlength')">
          <span style="color: red;">First Name requied only 24 characters.</span>
        </div>
        <div *ngIf="addpatientsForm.controls['lname'].hasError('pattern')">
          <span style="color: red;">Only characters are allowed.</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="age">Age</label>
      <input type="text" class="form-control" id="age" name="age" max="100" placeholder="Enter Age" formControlName="age">
      <div *ngIf="addpatientsForm.controls['age'].invalid && (addpatientsForm.controls['age'].dirty || addpatientsForm.controls['age'].touched)">
        <div *ngIf="addpatientsForm.controls['age'].errors.required">
          <span style="color: red;">Age  is requied.</span>
        </div>
        <div *ngIf="addpatientsForm.controls['age'].hasError('maxlength')">
          <span style="color: red;">Invalid Entry.</span>
        </div>
        <div *ngIf="addpatientsForm.controls['age'].hasError('minMax')">
          <span style="color: red;">Age should not be Greter than 100 years .</span>
        </div>
      </div>
    </div>
    <div class="form-group">
       <div class="note" style="color: red ; position: absolute; right: 12%; width: 95px;">
             <b><span><sup>*</sup>Note:</span></b><br>
            <span>Plese Enter 'M' for Male</span>
            <span>'F' for Female</span>
      </div>
      <label for="gender">Gender</label>
      <input type="text" class="form-control" id="gender" name="gender" placeholder="Enter Gender" formControlName="gender">
      
      <!--<select>
        <option>Select Gender</option>
        <option id="gender" name="gender" >{{selectGender.male}}</option>
        <option id="gender" name="gender" formControlName="gender">{{selectGender.female}}</option>
      </select>-->
     

      <div *ngIf="addpatientsForm.controls['gender'].invalid && (addpatientsForm.controls['gender'].dirty || addpatientsForm.controls['gender'].touched)">
        <div *ngIf="addpatientsForm.controls['gender'].errors.required">
          <span style="color: red;">Gender  is requied.</span>
        </div>
         <!--<div *ngIf="addpatientsForm.controls['gender'].hasError('maxlength')">
          <span style="color: red;">Invalid Entry.</span>
        </div>
         <div *ngIf="addpatientsForm.controls['gender'].hasError('pattern')">
          <span style="color: red;">Only characters are allowed.</span>
        </div>-->
      </div>
    </div>
    <div class="form-group">
      <label for="gender">Address</label>
      <input type="text" class="form-control" id="address" name="address" placeholder="Enter Address" formControlName="address">
      <div *ngIf="addpatientsForm.controls['address'].invalid && (addpatientsForm.controls['address'].dirty || addpatientsForm.controls['address'].touched)">
        <div *ngIf="addpatientsForm.controls['address'].errors.required">
          <span style="color: red;">Address is requied.</span>
        </div>
        <div *ngIf="addpatientsForm.controls['address'].hasError('maxlength')">
          <span style="color: red;">Cannot enter more than 1000 Chars</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="Telephone" class="form-control" id="phone" name="phone" placeholder="Enter Mobile Number" formControlName="phone">
      <div *ngIf="addpatientsForm.controls['phone'].invalid && (addpatientsForm.controls['phone'].dirty || addpatientsForm.controls['phone'].touched)">
        <div *ngIf="addpatientsForm.controls['phone'].errors.required">
          <span style="color: red;">Phone Number is requied.</span>
        </div>
        <div *ngIf="addpatientsForm.controls['phone'].hasError('maxlength')">
          <span style="color: red;">not valid number</span>
        </div>
        <div *ngIf="addpatientsForm.controls['phone'].hasError('minlength')">
          <span style="color: red;">not valid number</span>
        </div>
        <div *ngIf="addpatientsForm.controls['phone'].hasError('pattern')">
          <span style="color: red;">Only Numbers are allowed.</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="consultedBy">Consulted By</label>
      <input type="text" class="form-control" id="consultedBy" name="consultedBy" placeholder="Consulted By" formControlName="consultedBy">
    </div>
    <div class="form-group">
      <label for="complaints">Complaints</label>
      <textarea type="text" class="form-control" id="complaints" name="complaints" placeholder="Complaints" formControlName="complaints"></textarea>
      <div *ngIf="addpatientsForm.controls['complaints'].invalid && (addpatientsForm.controls['complaints'].dirty || addpatientsForm.controls['complaints'].touched)">
        <div *ngIf="addpatientsForm.controls['complaints'].errors.required">
          <span style="color: red;">Field is requied.</span>
        </div>
        <div *ngIf="addpatientsForm.controls['complaints'].hasError('maxlength')">
          <span style="color: red;">Cannot enter more than 1000 Chars</span>
        </div>
      </div>
    </div>
    <input type="submit" class="btn btn-primary" value="Add Patient">
  </form>

</section>