<div class="container">
  <div id="game-wrap">
    
    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
    </div>

    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
    </div>

    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
    </div>

</div>

<div id="panel">
    <input type="text" id="player-1-inp" placeholder="Enter player 1">
    <input type="text" id="player-2-inp" placeholder="Enter player 2">
    <br>
    <button id="playButton">Play!</button>
    <h1 id="board"></h1>
</div>

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</div>
