 body{
background: #323232;
}

#game-wrap{
    width: 450px;
    height: 455px;
    margin: 0 auto;
    background: gray;
    margin-top: 50px;
    border-left: 5px solid gray;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

/*.row{
    width: 100%;
    height: 150px;
}*/

.row {
    margin-right: -15px;
    margin-left: -0px !important;
}

row {
    margin-right: -15px;
}
.col{
    width: 32%;
    height: 145.5px;
    border: 3px solid white;
    float: left;
    text-align: center;
    font-size: 110px;
    font-family: helvetica;
    color: white;
    cursor: pointer;
}
.matched{
    color: maroon;
}
.player-1-color{
    color: maroon;
}
.col:nth-child(1){
    border-left: none;
}
.col:nth-child(3){
    border-right: none;
}

.row:nth-child(1) .col{
    border-top: none;
    margin-top: 8px;
}
.row:nth-child(3) .col{
    border-bottom: none;
    margin-bottom: 3px;
}
#panel{
    width: 450px;
    padding: 10px;
    margin: 0 auto;
    background: brown;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
#board{
    font-size: 30px;
    font-family: helvetica;
    color: whitesmoke;
    margin-top: 10px;
}




@media (min-width: 320px) and (max-width: 480px) {
#game-wrap {
     width: 100%; 
}
#panel{
  width: 100%; 
      text-align: center;
}
#player-1-inp, #player-2-inp{
    margin:10px;
}
}