
<section >
  <h2>Patients List</h2>
  <button class="glyphicon glyphicon-chevron-left btn btn-primary "  style="float: right;margin: 0 45px 18px 0px; cursor: pointer;" routerLink="/phome">Back</button>
  <table class="table table-hover">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Consulted BY</th>
      <th>Consulted</th>
      <th>Complains</th>
      <th>Result</th>
      <th>Prescription</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let patient of patients">
      <td> {{patient.id}} </td>
      <td> {{patient.fname}}  {{patient.lname}} </td>
      <td>{{patient.address}}</td>
      <td>{{patient.phone}}</td>
      <td>{{patient.consultedBy}}</td>
      <td>true</td>
      <td>{{patient.complaints}}</td>
      <td>{{patient.result}}</td>
      <td>{{patient.prescription}}</td>
      <td><span style="cursor:pointer" class="glyphicon glyphicon-trash" (click)="deletePatient(patient.id)"></span></td>
    </tr>
  </table>
</section>
