/* You can add global styles to this file, and also import other style files */
body{
    background-color: whitesmoke;
    font-size: medium;
    font-family: auto;
}
h1{
        font-style: oblique;
        font-weight: bold;
}
    

    /*animation sclide*/
.slideanim {
    visibility:hidden;
    visibility:visible\9;
}
.slideanim, .slide {                  
    visibility: visible;                  
    animation: slide 2s;
}
.slideanim::after {
  
    content: "";
    display: table;
    clear: both;
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(50%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0);
    } 
}
