<div style="padding: 1em 2em;" class="row slideanim" >
 <h1>My SkillSet</h1>

<div class="commonContainer">
    <div class="skillsName">
      <p class="skill-html">&lt;/!DOCTYPE <span class="skill-highlighted-font">html</span>&gt; </p>
    </div>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:90%">90%</div>
    </div>
 </div>
 <div class="commonContainer" >
    <div class="skillsName">
        <p class="skill-css">&lt;link rel="stylesheet" href="style.<span class="skill-highlighted-font">css</span>"/&gt;</p>
    </div>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:88%">85%</div>
    </div>
 </div>
<div  class="commonContainer" >
  <div class="skillsName">
     <p class="skill-javascript">&lt;script type='text/<span class="skill-highlighted-font">javascript</span>'&gt;&lt;/script&gt;</p>
  </div>
  <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">70%</div>
  </div>
</div>
<div  class="commonContainer" >
  <div class="skillsName">
    <p class="skill-jquery"><span class="skill-highlighted-font">jQuery</span>(document).ready(function() {{ '{' }} {{ '}' }})</p>
  </div>
  <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:80%">80%</div>
  </div>
</div> 
<div  class="commonContainer" >
   <div class="skillsName">
      <p class="skill-bootstrap">&lt;div class="col-md-12"&gt;<span class="skill-highlighted-font">bootstrap</span>&lt;/div&gt;</p>
   </div> 
   <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">60%</div>
    </div>
</div>
<div  class="commonContainer" >
<div class="skillsName">
    <p class="skill-ang"> <span>ng new </span> <span class="skill-highlighted-font">Angular2+</span>  <span>ng serve</span> </p>
</div>
<div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:75%">75%</div>
</div>
</div>  
<div  class="commonContainer" >
<div class="skillsName">
    <p class="skill-ang"> <span>create-react-app</span> <span class="skill-highlighted-font">ReactJs</span>  <span>npm start</span></p>
</div>
<div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">60%</div>
</div>
</div>
</div>
