.skill-html, .skill-css, .skill-javascript, .skill-jquery, .skill-bootstrap, .skill-ang{
    color: grey
}
.skill-highlighted-font{
    color:#4abdac;
    font-size: 25px;
}
.progress{
    width: 50%;
    border: 1px solid;
}
.skillsName{
    width: 50%;
}
.commonContainer{
    display: flex;
    flex-wrap: wrap;
}
.progress-bar{
    background-color: #4abdac;
}




/*media for mob*/

@media (min-width: 320px) and (max-width: 480px) {

  .skillsName {
    width: 100% !important;
}
.progress{
    width: 100%!important;
}
  
}