<!--The content below is only a placeholder and can be replaced.-->

<div id="mainAppContainer">
    <app-header></app-header>
    <div class="meImg">
        <!--typewriter-->
        <div id="container">
             <span style="color: black"><b>I am  </b></span><br>

            <b><div id="text"></div></b>
            <div id="cursor"></div><br>
        <b style="color: white;font-size: larger;margin-left: 10px;">    <span>Designer</span> | <span>Developer</span> | <span>Freelancer</span></b>
        </div>
        <img src="./assets/images/me.jpg" alt="abtmeImg" />
        
    </div>
    <div class="aboutMeAndSkillset"> 
        <div class="skillsSet">
            <app-skillset></app-skillset>
        </div>
        <div class="aboutMe">
            <app-aboutme></app-aboutme>
        </div>
    </div>

    <hr>

    <div class="appsContainer" style="background-image: url('./assets/images/me.jpg');">
        <!--scroll up-->
        <a href="#" id="back-to-top" title="Back to top"><i class="fa fa-chevron-up"> </i></a>

        <div class="ProjsMainContainer">
            <div style="position: absolute; left: 0;padding: 20px">
                <button (click)="showAll()" routerLink="" class="btn btn-primary btn-xs">All</button>
                <button (click)="showProjects()" class="btn btn-primary btn-xs">projects</button>
                <button (click)="showGames()" routerLink="" class="btn btn-primary btn-xs">Games</button>
            </div>
            <!--<h3 *ngIf="isShowingProjs" style="margin: 0px 0px 30px 35px;">Projects</h3>-->
            <div class="projectsContainer" *ngIf="isShowingProjs">
                <div class="projects" *ngFor="let proj of projects">
                    <img src={{proj.img}} alt="pateints" style="width: 100%;cursor: pointer;height: 215px;" routerLink="/phome/login" (click)="showProjects(proj.id)">
                    <div class="content">
                        <b><span>Project : {{proj.name}}</span><br>
                            <span> Developer : {{proj.developer }}</span> <br>
                             <span> Developer : {{proj.developer | reverseStr}}</span> <br>
                           <!--<span> Day's took: {{proj.duration}} day's</span><br>
                           <span> Date: {{dd}}-{{mm}}-{{yy}} </span>-->
                            </b>
                    </div>
                </div>
            </div>
            <!--<hr>-->
            <!--<h3 *ngIf="isShowingGames" style="margin: 0px 0px 30px 35px;">Games</h3>-->
            <div class="projectsContainer" *ngIf="isShowingGames">
                <div class="games" *ngFor="let game of games">
                    <img src={{game.img}} alt="games" style="width: 100%;cursor: pointer;height: 215px;" routerLink="/{{game.game}}" (click)="showGames(game.id)">
                    <div class="content">
                        <b><span>Game : {{game.name}}</span><br>
                            <span> Price : {{game.price}} / Hr</span> <br>
                           <span> Players can play: {{game.players}}</span> </b>
                    </div>
                </div>
            </div>
            
              <div class="projectsContainer" *ngIf="isShowingWeddingApp">
                <div class="games" >
                    <img src="./assets/images/wedding.jpg" alt="weddingApp" style="width: 100%;cursor: pointer;height: 215px;" routerLink="wedding" (click)="showWeddingApp()">
                    <div class="content">
                        <b><span>Naga Weds Sam </span><br>
                            <span> Date : Nov 2019 </span> <br>
                           <span> Place : Bangalore Palace  </span> </b>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <hr>

    <app-getintouch></app-getintouch>

        <div class="fb-comments" data-href="http://localhost:4200/home" data-width="500" data-numposts="5"></div>

    <app-footer></app-footer>

</div>