.meImg img{
width: 100%;
height: 60vh;
margin-top: 5%;
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
#mainAppContainer{
    width: 80%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
   /*background-image: url('assets/images/me.jpg');*/
  
}

.projects .games{
    width: 20%;
    height: 216px;
    border: 1px dotted;
   
}
.projectsContainer{
    display: flex;
    justify-content: space-evenly;

     padding:4% 0 1% 0;
}

.projects  img:hover{
    opacity: 0.5;
    border: 1px dotted green;
    transition: 0.3s;
    
    /*  -ms-transform: scale(.9);  IE 9 
  -webkit-transform: scale(.9);  Safari 3-8 
  transform: scale(.9); */
}
.games  img:hover{
    opacity: 0.5;
    border: 1px dotted green; 
       transition: 0.3s;
}
.content{
    border: 1px dotted;
    background-color: #4abdac;
    color: ghostwhite;
    padding: 8px;
}


/*scrol up*/
#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 12%;
    z-index: 9999;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 45px;
    background: tomato;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 100%;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-top:hover {
    background: #4abdac;
}
#back-to-top.show {
    opacity: 1;
}
#content {
    height: 2000px;
}


.aboutMeAndSkillset{
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    margin: 1rem 0 3rem 0;
    z-index: 2;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.skillsSet, .aboutMe{
    width: 50%;
}


.ProjsMainContainer{
    display: flex;
        flex-wrap: wrap;
}

.projects, .games{
        width: 315px;
        margin: 0 2% 0 2%;
}

/*typewriter*/
#container {
	position: absolute;
    margin: auto;
    top: 20%;
    left: 62%;
}

#text {
	display: inline-block;
	vertical-align: middle;
	letter-spacing: 2px;
    font-size:xx-large;
    color:white;
    font-weight: 700;
}

#cursor {
	display: inline-block;
	vertical-align: middle;
	width: 3px;
	height: 50px;
	background-color: white;
	animation: blink .75s step-end infinite;
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: white; 
	}
}


/*backgrondimg effect*/
.appsContainer{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}



/*media for mob*/
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  .skillsSet, .aboutMe {
     width: 100%; 
}
  .skillsName {
    width: 100% !important;
}
.progress{
    width: 100%!important;
}
  .projects, .games{
    width: 100% !important;
    margin: 0 2% 0 2%;
}

#container{
    position: absolute;
    margin: auto;
    top: 55%;
    left: 5%;
}

.meImg img{
    margin-top: 24%;
}
.projectsContainer{
    flex-wrap: wrap;
     padding:4% 0 1% 0;
}
}



